
      {{!-- <th scope="row">{{id}}</th> --}}
      <tr>
      <td>{{firstname}}</td>
      <td>{{lastname}}</td>
      <td>{{#if day1}}{{else}}&#10004;{{/if}}</td>
      <td>{{#if day2}}{{else}}&#10004;{{/if}}</td>
      <td>{{#if day3}}{{else}}&#10004;{{/if}}</td>
      <td>{{#if day4}}{{else}}&#10004;{{/if}}</td>
      <td>{{#if day5}}{{else}}&#10004;{{/if}}</td>
      <td>{{#if day6}}{{else}}&#10004;{{/if}}</td>
      <td>{{#if day7}}{{else}}&#10004;{{/if}}</td>
      <td>{{#if day8}}{{else}}&#10004;{{/if}}</td>
      <td>{{#if day9}}{{else}}&#10004;{{/if}}</td>
      <td>{{#if day10}}{{else}}&#10004;{{/if}}</td>
      <td>{{#if day11}}{{else}}&#10004;{{/if}}</td>
      <td>{{#if day12}}{{else}}&#10004;{{/if}}</td>
      <td>{{#if day13}}{{else}}&#10004;{{/if}}</td>
      <td>{{#if day14}}{{else}}&#10004;{{/if}}</td>
      </tr>